@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";



.card-header{
    background-color:#035873;
    color:white;
}

body{
    line-height:3em;
}

