<div class="card bg-light p-3">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm">
              <mat-form-field>
                <mat-select placeholder="Birthplace" [(value)]="SelectedCountry" (change)="FilterSortData()">
                    <mat-option value="">
                        Show All
                    </mat-option>
                  <mat-option *ngFor="let Country of Countries" value="{{Country}}">
                      {{Country}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field>
                <mat-select placeholder="Currency Converter" [(value)]="SelectedCurrency" >
                  <mat-option value="USD">USD</mat-option>
                  <mat-option value="AUD">AUD</mat-option>
                  <mat-option value="EURO">EURO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <mat-form-field>
                <input matInput placeholder="Search" name="search" [(ngModel)]="SearchString" (change)="FilterSortData()">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field>
                <mat-select placeholder="Order By" [(value)]="SelectedOrder" (change)="FilterSortData()">
                  <mat-option value="rank">Rank</mat-option>
                  <mat-option value="name">Name</mat-option>
                  <mat-option value="netWorth">Net Worth</mat-option>
                  <mat-option value="age">Age</mat-option>
                  <mat-option value="country">Country</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      <div class="card p-2 bg-light ">
  
          <mat-card class="text-center m-2" *ngFor='let celebrity of DisplayData' >
                <h6 class="card-header bg-green">No: {{celebrity.rank}}</h6>
                <div>Name: {{celebrity.name}}</div>
                <div>Net Worth: ${{SelectedCurrency}} {{celebrity.netWorth*ExchangeRates[SelectedCurrency]|number:0.0}}</div>
                <div>Age: {{celebrity.age}}</div>
                <div>Country of Birth: {{celebrity.country}}</div>
          </mat-card>

          <mat-card class="m-2 text-center" *ngIf='DisplayData.length==0' >
              <h6 class="card-header bg-red">Sorry, no results found</h6>
                <br/>
                <div>Try searching less</div>
                <br/>
                <br/>
          </mat-card>
    </div>
  </div>
  </div>