<div class="container">
  <div class="text-center">
    <h1>
      {{PageHeaderDetails.pageTitleH1}}
    </h1>
    <h2>
        {{PageHeaderDetails.pageTitleH2}}
    </h2>
    <h6>{{PageHeaderDetails.description}}</h6>
    <h6>Reference:
        <a href="{{PageHeaderDetails.referenceLink}}"> {{PageHeaderDetails.referenceLink}}</a>
    </h6>
  </div>
  <app-filtered-list></app-filtered-list>
</div>

